.search__container {
    background-color: rgb(80, 80, 80);
    height: 100vh;
    width: 100vw;
}

.search__title {
    text-transform: uppercase;
    text-align: center;
    padding-top: 70px;
    letter-spacing: 7px;
    color: #fff;
}

h1, h2 {
    padding-top: 30px;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
    font-weight:bolder;
}

.search__row {
    display: flex;
    justify-content: center;
    background-color: rgb(80, 80, 80);
}

.search__row-input {
    padding-top: 20px;
}

.search__text {
    text-align: center;
}

.search__text {
    padding-top: 15px;
    text-align: center;
    font-size: 14px;
    color: #fff;
}


.search__textrecomend {
    font-size: 15px;
    text-transform: uppercase;
    color: #e3e3e3;
    font-weight: bold;
    padding-top: 40px;
}

.suggest__hero {
    display: flex;
    background-color: rgb(80, 80, 80);
}