 /* #232425 */
.card__container {
 /* // todo el contenedor  */
}

.card__bt-bad,
.card__bt-good {
    border-radius: 40px 40px 40px 40px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.card__bt-bad {
    background-color: #EA2027;  
}

.card__bt-good {
    background-color: #009432;
    border:none;
}


.card__bt-title {
    color: #f1f1f1;
    background-color: rgb(80, 80, 80);
    border-radius: 5px;
    padding: 3px 0;
}

.card__bt-body {
    border: 1px solid black;
}

.card__bt-body-img {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card__bt-text {

}

.card__bt-btn {
    
}



@media (max-width:576px ){

    .modal__detail-container {
        position: relative;
    }

    .modal__detail {
        position: absolute;
        top: 300px;
    }
}
.card__image {

}