.card__bt-bad,
.card__bt-good {
    border-radius: 40px 40px 40px 40px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.card__bt-bad {
    background-color: #c0392b;  
}

.card__bt-good {
    background-color: #27ae60;
    border:none;
}


.card__bt-title {
    font-weight: 500;
    color: #f1f1f1;
    background-color: rgb(80, 80, 80);
    border-radius: 5px;
    /* padding: 3px 10px; */
}

.card__bt-body {
    border: 1px solid black;
}

.card__bt-body-img {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}


@media (max-width:576px ){

    .modal__detail-container {
        position: relative;
    }

    .modal__detail {
        position: absolute;
        top: 300px;
    }
}
