.home-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    padding-top: 70px;
    letter-spacing: 7px;
    color: #fff;
}

.home-container {
    background-color: rgb(80, 80, 80);
    height: 100vh;
    width: 100vw;
}

.home__container-card,
.home__container-stats {
    background-color: rgb(80, 80, 80);
}
.home__text__row {
    /* poner un lindo border */ 
}

h1, h2 {
    padding-top: 30px;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
    font-weight:bolder;
}


.home-container__cards {
    /* padding-top: 40px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around; */
}
