 /* Typography
  ––––––––––––––––––––––––––––––––– */
.login-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../herohero.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.login-form input {

}

.login-form label {
  margin-top: 2rem;
  color: white;
}
.error { color: rgb(216, 0, 0); }

.login-form button {
  margin-top: 2rem; 
  background-color: #1d1d1d;
  color: white;
}